
<% @posts.each do |post|  %>
<%= link_to user_post_path(id:post.id) do%>
<div class="post-main-div">
<b>
post #<%= post.id%> 
</b>

<p>

<%= post.text%>
</p>

<div class="comments-and-like-container">
	<p>Comments: <%= post.comments_count || 0 %></p>
	<br/>
	<p>Likes: <%= post.likes_count ||0 %></p>
</div>
</div>


<%= render  partial:'/comments/comment' , collection:post.comments  %>
<%end%>
<%end%>

