

<div class="">
<b>
post #<%= post.id%>  by <%= post.user.name%>
</b>

<p>

<%= post.text%>
</p>

<div class="">
	<p>Comments: <%= post.comments_count || 0 %></p>
	<br/>
	<p>Likes: <%= post.likes_count ||0 %></p>
</div>

</div>

