<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container w-full m-auto bg-yellow-200 p-4">
    <% flash.each do |name,message|%>
      <div class="bg-green-200 p-4 m-4">
        <%= message %>
      </div>
    <%end%>
      <%= yield %>
    </main>
  </body>
</html>
